@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
* {
    font-family: poppins;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #9C0404;
}

h1, h3 {
    text-transform: uppercase;
    color: #ffffff;
}
span {
    margin: 0;
    color: #9c0404;
}

.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
}

.navbar ul {
    margin: 2% 5%;
    display: flex;
    gap: 30px;
    text-transform: uppercase;
}

li {
    list-style: none;
    padding: 10px;
    font-weight: 600;
    transition: all ease .2s;
}

.navbar ul li a {
    color: rgb(156, 4, 4);
    text-decoration: none;
}

#info {
    border-radius: 10px;
    background-color: rgb(156, 4, 4);
    transition: all ease .2s;
}

#info:hover, li:hover {
    scale: 1.1;
}

#info a {
    color: white;
}

#definicion, #tablas{
    margin: 2% 5% 5% 5%
}
.cards-container-X3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    border-radius: 10px;
    background: white;
    color: #9C0404;
    margin-top: 2%;
    width: 350px;
    height: 470px;
    max-height:fit-content;
}
.titulo h1{
    text-align: center;
    color: #9C0404;
}
.card img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.descripcion{
    padding: 5%;
    text-align: justify;
}
.card-mas-informacion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.card-mas-informacion a{
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: #9C0404;
    padding: 3% 5%;
    margin-bottom: 5%;
    transition:linear .2s;
}
.card-mas-informacion a:hover{
    scale: 1.1;
}
#Estructuras{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagen_html, .imagen_css,.imagen_js{
    border: 1px solid rebeccapurple;
    width: fit-content
}
.contenido{
    display: flex;
    flex-wrap: wrap;
    margin: 2% 10% 0% 10%;
    padding: 2%;
}
.definicion_js,
.definicion_css,
.definicion_html {
    border: 1px solid red;
    padding: 4%;
    width: 60%;
    text-align: justify;
}
.def-tablas{
    margin-top: 2%;
    color: white;
    font-weight: 600;
    line-height: 45px;
}
.def-tablas h1{
    color: white;
}
.tabla{
    margin: 5% auto;
    width: 100%;
}
table{
    text-align: left;
    width: 100%;
}
th,td{
    padding: 10px;
}
thead{
    background-color:  rgb(255, 255, 255);
    border-bottom: solid 5px #0000;
    color: #9C0404;
}
.tr_table:nth-child(even){
    background-color: rgba(255, 255, 255, 0.479);
}
.tr_table:nth-child(odd){
    background-color: white;
}
.tr_table:hover td{
    background-color: #8600007a;
    color: white;
}

.form{
    background-color:  #9c0404;
    border-radius: 10px;
    padding: 2%
}
.th-form{
    color: #9C0404;
    text-align: center;
    border-collapse: collapse;
}
#mas-info{
    background-color: white;
    border: 1px solid red;
    display: flex;
    /* flex-wrap: wrap; */
}
.contenedor-mas-informacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2% 10% 0% 10%
}
form{
    background-color: rgb(156, 4, 4) ;
}
.masinformacion{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: center;
    padding-right: 5%;
}
.formulario{
    border: 1px solid blue;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden  ;
    margin: 2%;
    width: 45%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.tr-form td{
    color: white !important;
}

input[type=text], input[type=number], input[type=email] {
    border: none;
    border-radius: 5px;
    text-align: center;
    padding: 2%;
    width: 70%;
}

.formulario::-webkit-scrollbar {
    background-color: rgb(156, 4, 4);
    height: 8px;
    width: 4px;
}

.formulario::-webkit-scrollbar-thumb{
    background: white;
    margin-top: 4%;
}
#Enviar{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    padding: 2% 10%;
    color: white;
    font-weight: 900;
    transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) .7s;
}
input[type="submit"] {
    display: block;
    margin: 0 auto;
}
input[type="radio"] {  
    margin-right: 5px;
    padding: 20px;
  }
#Enviar:hover{
    scale: 1.2;
    background-color: white;
    color: rgb(156, 4, 4);
}
footer {
    margin-top: 2%;
    font-family: 'Nunito', sans-serif;
}

.box_footer {
    padding-bottom: 20px;
    margin: auto;
}
.box_footer h4 {
    text-align: center;
    font-size: 16px;
}
.box_footer a,
.box_footer {
    text-align: center;
    color: rgba(255, 255, 255);
    font-weight: 600;
}

.box_footer a:hover {
    opacity: 0.8;
}

.aviso-footer {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.aviso-footer p {
    margin-top: 1%;
    margin-bottom: 1%;
    color: rgba(255, 255, 255, 0.479);
}

.aviso-footer hr {
    border: none;
    height: 1px;
    background-color: rgb(255, 255, 255);
}